*.tgz
__pycache__/
*.pyc
.ipynb_checkpoints/

assign_1/doc/report.pdf
assign_1/doc/report.log
assign_1/doc/report.aux
assign_1/src/*.html

milestone_1/src/get_golang_bnf.ipynb
milestone_1/**/parser.out
milestone_1/**/parsetab.py
milestone_1/**/*.dot
milestone_1/**/*.ps
milestone_1/bin/
milestone_1/myASTGenerator
