*.tgz
__pycache__/
*.pyc
.ipynb_checkpoints/

assign_1/doc/report.pdf
assign_1/doc/report.log
assign_1/doc/report.aux
assign_1/src/*.html

milestone_1/src/get_golang_bnf.ipynb
milestone_1/src/parser.out
milestone_1/src/parsetab.py
milestone_1/src/*.dot
milestone_1/src/*.ps
milestone_1/src/myASTGenerator

milestone_2/src/parser.out
milestone_2/src/parsetab.py
milestone_2/src/symbol_table/
milestone_2/src/*/*.csv
milestone_2/src/*/*.txt
milestone_2/src/*.dot
milestone_2/src/*.ps

milestone_3/src/parser.out
milestone_3/src/parsetab.py
milestone_3/src/symbol_table/
milestone_3/src/*.dot
milestone_3/src/*.ps
